apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.secretName" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{- range $key, $value := .Values.secret.data }}
  {{- if $value }}
  {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
