apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  labels:
    {{- include "app.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $key, $value := .Values.secret.data }}
  {{- if $value }}
  {{ $key }}: {{ $value }}
  {{- end }}
  {{- end }}
